*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.clearfix::after{
  content:"";
  display:block;
  clear:both;
}

main{
  margin: 50px auto;
  width:960px;

}

.step{
  position: absolute;
  top:0px;
  left:0px;
  background-color: orange;
  float:left
}

.step{
  color:#fff;
}

.box-image-1{
  width:280px;
  height:150px;
  background-image: url(img/flow01.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.box-image-2{
  width:280px;
  height:150px;
  background-image: url(img/flow02.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.box-image-3{
  width:280px;
  height:150px;
  background-image: url(img/flow03.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.box-item{
  width:300px;
  float:left;
  border:1px solid #acabab;
  padding:10px;
  position:relative;
}

.box-item:nth-child(2){
  margin:0 30px;
}
